extends layout

block content
	.debugroom
		.debugbox
			.rect1
			.rect2
			.rect3
			.debugtext
				.debugtitle Company Name
				.debugsubtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			img.banner(src="/uploads/banner_cropped.png")
